
.giris{
    /*border: solid  1px;*/
    width: 50%;
    /*max-width: 600px;*/
    
}

.container{
  color:#545454;
  font-family: "Inter", sans-serif;
  font-size: larger;
  font-weight: 600;
  margin-left: 2vw;
  display: flex;
  flex-direction: row;
  
  
}

.title{
  color: #9381FF;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-top: 10px;
}

.journey{
  color: #7c7c7c;
  font-size:20px;
  font-weight: 600;
  margin-bottom: 30px;
}

button[type="submit"] {
  width: 22vw;
  height: 3.8vw;
  background-color: #00AFB9;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: larger;
  font-weight: 650;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
input{
 width: 23vw;
 height: 3.1vw;
 border-radius: 12px;
 border-color:#C2C2C2 ;
 box-shadow: 0px 4px 4px rgba(145, 145, 145, 0.25);
 font-size: small;
 font-family: "Inter", sans-serif;
 font-weight:500;
 
}

.already{
  margin-top: 20px;
  margin-left: 10px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color:#656565;
}

.signLink {
  color: rgb(72, 164, 244);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.signLink:hover {
  text-decoration: underline;
}

.image{
  
}

label {
  display: block; /* label'ı satırın tamamına yayar */
  margin-bottom: 4px; /* input ile araya boşluk */
}

