
.header{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    background: white;
    height: 70px;
    align-items: center;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
}

.headerName{
    margin-left: 3vw;
    color: #9381FF;
    font-size: x-large;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    
}

.headerButtonContainer{
    margin-right: 3vw;
}

.landingButtons:hover{
    background-color: rgb(156, 13, 13);
    transform: translateY(2px);
    cursor:pointer;
}

.landingButtons{
    transition: all 0.5s;
}

body{
    background: linear-gradient(70deg , #f5e896, #efae4c);
}
