<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link rel="stylesheet" href="mainPage.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"/>
  </head>

  <body>
    <div class="header">
      <div class="headerName">Asistancım</div>
      <div class="headerButtonContainer">
        <a href="/signin"><button class="landingButtons" id="logInButton">Sign In</button></a>
        <a href="/signup"><button class="landingButtons" id="signUpButton">Sign up</button></a>
      </div>
    </div>

    <div class="backgroundTitle"> ARFID Nedir? </div>
    <div class="backgroundText"> ARFID (Avoidant/Restrictive Food Intake Disorder), yani Kaçıngan/Kısıtlayıcı Yeme Bozukluğu,<br>
      kişinin besin çeşitliliğini veya miktarını ciddi şekilde kısıtlamasıyla ortaya çıkan bir yeme bozukluğudur.<br>
      ARFID, klasik “iştahsızlık” ya da “seçici yeme” durumlarından farklıdır;<br>
      çünkü bu durum yalnızca tercih değil, aynı zamanda yoğun kaygı, <br>
      duyusal hassasiyet veya olumsuz deneyim korkusuyla ilişkilidir.</div>
        <a href="/chat"><button class="getStartedButton">Let's Get Started</button></a>
        <img  src="image/hands.png" id="hands" alt="eller" >
  </body>
</html>
