<!DOCTYPE html>
<html>
  <head>
    <title>Test Page</title>
    <link rel="stylesheet" href="test.css" />
  </head>

  <body>
    <div class="header">
      <div class="headerName">Asistancım</div>
    </div>

    <div class="content">
      <h1>Questions</h1>
      
      <div class="questionOne">
        <h2>1. Your fav food?</h2>
        <input type="text" placeholder="Cevabınızı yazın..." />
      </div>

      <div class="questionTwo">
        <h2>2. Do you like 2 eat?</h2>
      </div>
    </div>

  </body>
</html>
