
.header{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    background: #F9FAFB;
    height: 80px;
    align-items: center;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
}

.headerName{
    margin-left: 3vw;
    color: #9381FF;
    font-size: xx-large;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.headerButtonContainer{
    margin-right: 3vw;
}

.landingButtons:hover{
    transform: translateY(2px);
    cursor:pointer;
}

.landingButtons{
    transition: all 0.5s;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.25);
    width: 8vw;
    height: 35px;
    min-width: 76px;
}

#logInButton:hover{
    background-color: #d1d1d1;
}

#logInButton{
    color:#676767;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: medium;
    background-color: #F9FAFB;
    border: 2px solid #bbbaba;
}

#signUpButton:hover{
    background-color: #ef9f1d;
}

#signUpButton{
    color:#ffffff;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: medium;
    background-color: #FDBA4E;
    border: 2px solid #eb9e22;
}


.backgroundTitle{
    padding: 100px 20px; 
    text-align: center;
    font-size: xx-large;
    font-family: "Inter", sans-serif;
    color:#ffffff;
    font-weight: bolder
}

.backgroundText{
    text-align:left;
    font-size: x-large;
    font-family: "Poppins", sans-serif;
    color:#ffffff;
    font-weight: bold;
    
}
.getStartedButton {
    width: 17vw;
    height: 3.5vw;
    margin-left: 10px;
    margin-top: 35px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    background-color: #7e87ea;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    transition: all 0.5s; 

}
.getStartedButton:hover {
    background-color: rgb(77, 70, 147);
    transform: translateY(2px);
    cursor:pointer;
}

#hands{
    position:absolute; 
    bottom: 0px;
    right: 0px; 
    width: 500px; 
    height: auto;
    opacity: 0.8;
    z-index: -1; 
}

body{
    
    margin:0;
    padding:0;
    width: 100%;
    height: 100dvh;
    overflow: auto;
    scrollbar-width: none;
    position: relative;
    background: linear-gradient(70deg , #FCD995, #f1a831);
}
html::-webkit-scrollbar,body::-webkit-scrollbar{
    display:none;
}
